API_PORT=3000
TELEGRAM_API=
TELEGRAM_CHAT_ID=
POSTGRES_HOST=psql
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=argy
SELENIUM_HOST=http://selenium
SELENIUM_PORT=4444
REDIS_URL=redis://redis:6379/0
X_BCRA_API_KEY=
X_BCRA_API_SECRET=
X_BCRA_API_BEARER_TOKEN=
X_BCRA_API_ACCESS_TOKEN=
X_BCRA_API_ACCESS_TOKEN_SECRET=
X_BCRA_CLIENT_ID=
X_BCRA_CLIENT_SECRET=

X_AHORRO_API_KEY=
X_AHORRO_API_SECRET=
X_AHORRO_API_BEARER_TOKEN=
X_AHORRO_API_ACCESS_TOKEN=
X_AHORRO_API_ACCESS_TOKEN_SECRET=
X_AHORRO_CLIENT_ID=
X_AHORRO_CLIENT_SECRET=